[submodule "third_party/libtock-rs"]
	path = third_party/libtock-rs
	url = https://github.com/tock/libtock-rs
[submodule "third_party/tock"]
	path = third_party/tock
	url = https://github.com/tock/tock
