---
name: Cargo fuzz build
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build_fuzzing:
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"
      - uses: actions-rs/toolchain@v1
        with:
          target: thumbv7em-none-eabi
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel
      - name: Set up OpenSK
        run: ./setup.sh
      - name: Set up fuzzing
        run: ./fuzzing_setup.sh

      - name: Cargo fuzz build
        run: cargo fuzz build
      - name: Cargo fuzz build (libraries/cbor)
        run: cd libraries/cbor && cargo fuzz build && cd ../..
